<h1>Boas vindas!</h1>

<p>Olá, <strong><%= @user.nome %></strong>, e boas vindas ao Sub on Rails!</p>
<p>Você se cadastrou com o login <strong><%= @user.login %></strong>. Você vai receber outro e-mail nesta conta assim que um administrador autorizar o seu acesso.</p>
<p>Acesse o Sub on Rails <%= link_to "aqui", root_url %>.</p>
