<h2>Boas vindas!</h2> 
<p>Gerenciamento de usu&aacute;rios de <a href="http://subversion.apache.org">Apache Subversion</a>.</p>

<p>Veja a lista de <%= link_to 'usuários', controller: 'users' =%>.</p>

    <p><%=  link_to 'Cadastro', new_user_path =%></p>
