<h2>Boas vindas!</h2> 
<p>O Sub on Rails é um projeto de gerenciamento de usu&aacute;rios de <a href="http://subversion.apache.org">Apache Subversion</a>.</p>

<p>Veja aqui a lista de <%= link_to 'usuários', controller: 'users' =%> cadastrados.</p>

    <p><%=  link_to 'Cadastro', new_user_path =%></p>
