@import "bootstrap-sprockets"
@import "bootstrap"

html, body
  min-height: 100%
  height: 100%
  color: #3A3839
  font-family: 'Raleway', sans-serif

a
  color: #00908C
  &:hover
    color: #A3B800
    text-decoration: none

#main-container
  min-height: 100%
  position: relative

#main-content
  overflow: auto
  padding-bottom: 100px

.content
  margin-bottom: 20px

.footer
  position: absolute
  bottom: 0
  height: 100px

.btn-default
  color: #ffffff
  background-color: #00908C
  border-color: #42B3AE
  &:hover
    color: #ffffff
    background-color: #A3B800
    border-color: #C3D800

.in-alert
  margin-left: 7px

.in-btn
  margin-left: 8px

.header
  margin-top: 20px

.form-horizontal
  width: 60%

.jumbotron
  margin-top: 20px
