@import "bootstrap-sprockets"
@import "bootstrap"
/*
 * require "welcome"
 */

html, body
  min-height: 100%
  height: 100%
  color: #3A3839
  font-family: 'Raleway', sans-serif
  margin: 0
  padding: 0

a
  color: #00908C
  &:hover
    color: #A3B800
    text-decoration: none

#main-container
  min-height: 100%
  position: relative

#main-content
  overflow: auto
  padding-bottom: 80px

.content
  margin-bottom: 20px

.footer
  position: absolute
  bottom: 0
  height: 70px

.btn-default
  color: #ffffff
  background-color: #00908C
  border-color: #42B3AE
  &:hover
    color: #ffffff
    background-color: #A3B800
    border-color: #C3D800

.in-alert
  margin-left: 7px

.in-btn
  margin-left: 8px

.header
  margin-top: 20px
  img
    width: 150px

.form-horizontal
  width: 60%

.jumbotron
  margin-top: 20px


////// SVN index directives
.svn 
  overflow: auto
  width: 70%
  margin-left: auto
  margin-right: auto
  padding-bottom: 120px

.svn-footer 
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 110px
  width: 70%
  margin-left: auto
  margin-right: auto
  padding: 5px
  border-top: 1px solid
  border-color: #00494D

.path, .dir, .updir, .file
  margin: 3px
  padding: 3px 6px

.path 
  background: #00908C
  color: #FFFFFF
  font-size: 120%
  border-radius: 4px

.updir, .file, .dir
  margin-left: 3em

