<!DOCTYPE html>
<html>  
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <center>
        <img src="https://raw.githubusercontent.com/andrechalom/sub-on-rails/master/public/sub_logo.png" alt="Sub on Rails">
   </center>
        <%= yield %>
        <br><a href="https://github.com/andrechalom/sub-on-rails">(&#596;) 2016 Time de desenvolvimento Sub-on-Rails.</a>
    </body>
</html>
